<h1>ようこそ</h1>

<h2>サイトマップ</h2>

<%= link_to "ブログ記事一覧", blog_entries_path %>

<h2>おしらせ</h2>

<div id="notifications">
  <ul>
    <% @notifications.each do |notification| %>
      <li>
        <%= notification.content %>
      </li>
    <% end %>
  </ul>
</div>

