<p style="color: green"><%= notice %></p>

<h1>Entries</h1>

<div id="blog_entries">
  <% @blog_entries.each do |blog_entry| %>
    <%= render blog_entry %>
    <p>
      <%= link_to "Show this entry", blog_entry %>
    </p>
  <% end %>
</div>

<%= link_to "New entry", new_blog_entry_path %>
